.block{
    cursor:move;
    @include flex(fow,space-between,center);

    &.drag{
        position:absolute;
        pointer-events: none;
    }

    &__controls{
        @include flex(column,flex-start,flex-start);
    }

}

.hover_block{
    position:absolute;
    background-color: $accent;
    inset:0;
}
