aside#blocks .block{
    width:100%;
    @include flex(column,space-between,center);
    gap:1em;
    background-color: $white;
    border-radius: .5em;
    padding:1em;
    border:1px solid $accent;
    box-shadow: 0 2px 4px $accent;
    font-family:$main-font;

    &.drag{
        position:absolute;
        pointer-events: none;
    }

    &__info{
        width:100%;
        display:grid;
        gap:1em;
        grid-template-areas: 
        "name name controls"
        "tags tags tags"
        ;
    }

    &__name{
        grid-area:name;
    }

    &__copy{
        flex:3;
        width:100%;
        @include flex(column,flex-start,flex-start);
      

        span{
            background-color: unset
        }
    }

    &__copy,
    p{
        font-size:$step--1;
        font-weight:400;
        line-height: 150%;
    }

    &__controls{
        @include flex(row,flex-end,stretch);
        gap:1em;
        flex:1;
        grid-area:controls;
    }

    &__tags{
        grid-area:tags;
        list-style-type: none;
        @include flex(row,flex-start,center);
        flex-wrap:wrap;
        gap:.5em;


        li{
            padding:.5em;
            border-radius: .5em;
            box-shadow: 0 2px 2px $accent;
            background-color: $accent;
            border: solid 1px $accent;
        }
    }

}

.ui-sortable-helper{
    &::after{
        content:'';
        z-index:999;
        inset:0;
        background-color: $accent;
    }
}