#block-writer{
    position:absolute;
    z-index:99999;
    inset:0;
    background-color: $accent;
    @include flex(column,center,center);
    pointer-events: none;
    opacity: 0;
    transition: all .2s ease-in-out;
    
    form{
        height:50vh;
        width:50vw;
        padding:1em;
        border-radius: 1em;
        box-shadow: 2px 2px 4px $accent;
        background-color: white;
        @include flex(column,flex-start,flex-start);
        gap:1em;
    }

    &.active{
        pointer-events: all;
        opacity: 1;
        transition: all .2s ease-in-out;
    }
}