body{
    min-height:100vh;
    min-width:100vh;
    overflow: hidden;
    @include flex(row,space-between,center);
    background-color: $accent;

    aside{
        flex:1;
    }

    .cover_letter_container{
        flex:2;
    }
}