body{
    min-height:100vh;
    min-width:100vw;
    overflow: hidden;
    @include flex(row,space-between,stretch);
    background-color: $accent;

    aside{
        flex:1;
        &#blocks{
            flex:2;
        }


    }

    .cover_letter_container{
        flex:3;
    }
}