aside#variables{
    @include flex(column,flex-start,flex-start);
    max-height:100vh;
    background-color: $white;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.151);
    gap:1em;
    padding:1em;

    #cl_var{
        width:100%;
        @include flex(column,flex-start,flex-start);
        gap:1em;

        .input_container{
            @include flex(column,flex-start,flex-start);
            width:100%;
        }

        input{
            width:100%;
            padding:.5em 1em;
        }

        label{
            font-size:$step-1;
            font-weight:600;
        }
        

        .tags{
            @include flex(column,flex-start,flex-start);
            gap:1em;
        }
    }

    .controls{
        margin-top:auto;
        @include flex(column,flex-start,flex-start);
        width:100%;
        gap:1em;

        .btn{
            width:100%;
        }
    }
}

