#tag_table{

    .content{
        max-height:50vh;
        height:50vh;
        overflow-y: scroll;
        overflow-x: hidden;
        border-radius: .5em;
        @include flex(column,flex-start,flex-start);
        gap:1em;
        background-color: $white;
        padding:2em;


        header{
            width:100%;
            @include flex(row,space-between,center);
        }

        table{

            tr{
                grid-template-columns: 1fr 2fr 1fr;
            }
        }
    }

    .tag_maker{
        @include flex(row,flex-start,stretch);
        gap:.5em;
    }
    

}
