@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

article#template-1{
    padding:48px;
    height:100%;
    width:100%;
    display:grid;
    grid-template-areas: 
        'header header'
        'col-1 col-2'
    ;
    grid-template-rows: min-content auto;
    grid-template-columns: min-content auto;
    grid-gap:1em;

    $primary: #3670B7;
    $secondary: #E74425;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    label,
    a,
    li{
        font-family: "Work Sans", sans-serif !important;
    }

    p,
    li{
        line-height:150%;
    }

    header{
        grid-area:header;
    }

    h1{
        color:$primary;
    }

    h2{
        font-size:$step-1;
        font-weight:400;
        color:$secondary;
    }

    .contact{ 
        @include flex(column,flex-start,flex-start);
        gap:.5;
        padding:1em;
        color:$primary;
        
        ul{
            list-style: none;
            @include flex(column,flex-start,flex-start);
        }

    }

    .seperator{
        @include flex(row,space-between,center);
        width:100%;
        margin-bottom:1em;

        span{
            display:block;

            &:nth-child(1),
            &:nth-child(3){
                width:8px;
                height:auto;
                aspect-ratio: 1/1;
                outline:solid 2px $primary;
            }
    
            &:nth-child(2){
                flex:2;
                background-color: $primary;
                height:2px;
            }
        }

    }

    .column{
        width:100%;
        @include flex(column,flex-start,stretch);
    }


    #column-1{
        grid-area:col-1;
    }

    #column-2{
        grid-area:col-2;

        .cl_content{
            height:100%;
        }
    }




}
