/* 
 * In this file you should declare any global variables
 * For example: brand colours, typefaces, etc.
 * imported by style.scss
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* 
 * In this file Are opinionated base styles that come in after the normalize Reset.
 * We may want to merge some of these into the normalize stylesheet if they become common enough.
 * 
 * imported by style.scss
 */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  box-sizing: border-box;
}

*, *:before, *:after {
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

html {
  font-size: clamp(0.75rem, 0.663rem + 0.4348vw, 1rem);
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr {
  margin-top: 0 !important;
}

p, label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: clamp(0.75rem, 0.663rem + 0.4348vw, 1rem);
  line-height: 150%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  text-wrap: balance;
  line-height: 1.25em;
}

a {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  text-decoration: none;
}

h1 {
  font-size: clamp(1.8662rem, 1.4539rem + 2.0618vw, 3.0518rem);
}

h2 {
  font-size: clamp(1.5552rem, 1.247rem + 1.5412vw, 2.4414rem);
}

h3 {
  font-size: clamp(1.296rem, 1.0674rem + 1.1428vw, 1.9531rem);
}

h4 {
  font-size: clamp(1.08rem, 0.9122rem + 0.8391vw, 1.5625rem);
}

h5 {
  font-size: clamp(0.9rem, 0.7783rem + 0.6087vw, 1.25rem);
}

body {
  background-color: var(--bg);
}

body {
  min-height: 100vh;
  min-width: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(201, 201, 201, 0.2509803922);
}
body aside {
  flex: 1;
}
body .cover_letter_container {
  flex: 2;
}

.block {
  cursor: move;
  display: flex;
  flex-direction: fow;
  justify-content: space-between;
  align-items: center;
}
.block.drag {
  position: absolute;
  pointer-events: none;
}
.block__controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.hover_block {
  position: absolute;
  background-color: rgba(201, 201, 201, 0.2509803922);
  inset: 0;
}

#block-writer {
  position: absolute;
  inset: 0;
  background-color: rgba(201, 201, 201, 0.2509803922);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
#block-writer form {
  height: 50vh;
  width: 50vw;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 2px 2px 4px rgba(201, 201, 201, 0.2509803922);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
}
#block-writer.active {
  pointer-events: all;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.cover_letter_container {
  padding: 1em;
}

main#cover_letter {
  margin: auto auto;
  max-height: 1056px;
  max-width: 816px;
  background-color: white;
  aspect-ratio: 17/22;
}

.cl_template {
  overflow: hidden;
  container-type: inline-size;
  max-height: 100%;
}
.cl_template h1 {
  font-size: 10cqw;
}
.cl_template h2 {
  font-size: 7cqw;
}
.cl_template h3 {
  font-size: 5cqw;
}
.cl_template p {
  font-size: 2cqw;
}

.cl_content_container {
  position: relative;
  height: 100%;
  max-height: 100%;
}

.cl_content {
  position: absolute;
  inset: 0;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.cl_content.hover::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.116);
}
.cl_content .block {
  width: 100%;
  height: auto;
  padding: 0.5rem 1rem;
}
.cl_content .block .block__content > *:not(.block__copy) {
  display: none;
}
.cl_content .ui-sortable-placeholder {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 0.5em;
  width: 100%;
  height: auto;
  padding: 1em;
}

article#template-1 {
  padding: 48px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "header header" "col-1 col-2";
  grid-template-rows: min-content minmax(auto, 100%);
  grid-template-columns: 30% minmax(auto, 100%);
  grid-gap: 1em;
}
article#template-1 h1,
article#template-1 h2,
article#template-1 h3,
article#template-1 h4,
article#template-1 h5,
article#template-1 h6,
article#template-1 p,
article#template-1 label,
article#template-1 a,
article#template-1 li {
  font-family: "Work Sans", sans-serif !important;
}
article#template-1 p,
article#template-1 li {
  line-height: 150%;
}
article#template-1 header {
  grid-area: header;
}
article#template-1 h1 {
  color: #3670B7;
}
article#template-1 h2 {
  font-size: clamp(0.9rem, 0.7783rem + 0.6087vw, 1.25rem);
  font-weight: 400;
  color: #E74425;
}
article#template-1 .contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5em;
  max-width: 100%;
  padding: 1em;
  color: #3670B7;
}
article#template-1 .contact ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
article#template-1 .contact ul li {
  display: inline-block;
  word-wrap: break-word;
  width: 100%;
}
article#template-1 .seperator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
}
article#template-1 .seperator span {
  display: block;
}
article#template-1 .seperator span:nth-child(1), article#template-1 .seperator span:nth-child(3) {
  width: 8px;
  height: auto;
  aspect-ratio: 1/1;
  outline: solid 2px #3670B7;
}
article#template-1 .seperator span:nth-child(2) {
  flex: 2;
  background-color: #3670B7;
  height: 2px;
}
article#template-1 .column {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
article#template-1 #column-1 {
  grid-area: col-1;
}
article#template-1 #column-2 {
  grid-area: col-2;
}/*# sourceMappingURL=style.css.map */